{% extends '::base.html.twig' %}

{% block title %}Prendre un rendez-vous (2/4){% endblock %}


{% block stylesheets %}
    {#<link rel="stylesheet" href="{{ asset('css/bootstrap-datetimepicker.min.css') }}" />#}
    <link rel="stylesheet" href="{{ asset('css/custom_css.css') }}">
    <link rel="stylesheet" href="{{ asset('css/fullcalendar.min.css') }}">

    <style>
        .fc-agenda-slots td div { height: 100px !important; }
        .fc-widget-header > table, .fc-view table { margin-bottom: 0; }
        button[disabled], button[disabled]:hover { background-color: #c5c5c5; cursor: not-allowed }

        .bootstrap-datetimepicker-widget table td.disabled, .bootstrap-datetimepicker-widget table td.disabled:hover,
        .bootstrap-datetimepicker-widget table td span.disabled, .bootstrap-datetimepicker-widget table td span.disabled:hover {
            color: #b7b7b7;
        }

        .bootstrap-datetimepicker-widget table td.day,
        .bootstrap-datetimepicker-widget table span.month {
            font-weight: 800;
        }

        .bootstrap-datetimepicker-widget table td.old:not(.disabled), .bootstrap-datetimepicker-widget table td.new:not(.disabled) {
            color: #717171;
            font-weight: 400;
        }

        .fc-calendar-container {
            margin-bottom: 30px;
        }

        #choose-date {
            margin-bottom: 30px;
        }

        em {
            font-style: normal;
            border-bottom: 1px dotted #a5a5a5;
        }

        th.picker-switch[title="Select Year"] {
            pointer-events: none;
        }

        .fc-event {
            width: 103%;
            margin-left: -3px;
        }
    </style>
{% endblock %}

{% block cart %}

{% endblock %}

{% block page_title %}
    {% include 'index/page_title.html.twig' with {
    page_title: 'Prendre un rendez-vous',
    page_subtitle: 'Choisissez maintenant un créneau horaire.',
    steps: [{
        name: 'Prendre un rendez-vous'
    }, {
        name: 'Choisissez un créneau'
    }]
    } %}
{% endblock %}

{% block content %}
    <div class="container clearfix">
        {% include 'rendez-vous/etapes.inc.html.twig' with {step: 2}%}

        <div class="events-calendar nobottommargin">
            <div id="calendar" class="fc-calendar-container "></div>
            {#<input type="text" id="datetimepicker" disabled="disabled"/>#}
        </div>

        <div class="col-md-12">
            <form class="text-center cart nobottommargin clearfix" method="post" enctype='multipart/form-data' action="{{ path('rendez_vous_choix_paiement') }}">
                <input type="hidden" name="rdv" id="rdvInput"/>
                <div class="fancy-title title-dotted-border title-center">
                    <h4><span id="selected-day">Mercredi</span> <em id ="selected-date">17 septembre 2017</em> à <em id="selected-time">17:00</em></h4>
                </div>
                <button id="choose-date" disabled="disabled" type="submit" class="center-block add-to-cart button">Choisir ce créneau</button>
            </form><!-- Product Single - Quantity & Cart Button End -->
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('js/plugins/moment.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/plugins/moment-with-locales.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/plugins/moment-recur.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/plugins/jquery.fullcalendar.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/plugins/jquery.fullcalendar.locales.min.js') }}"></script>
    {#<script type="text/javascript" src="{{ asset('js/plugins/bootstrap-datetimepicker.js') }}"></script>#}

    <script>
        jQuery(function($) {

            moment.locale('fr');

            var currentDate = moment(new Date).locale('fr');

            $('#selected-day').text(currentDate.format('dddd'));
            $('#selected-date').text(currentDate.format('DD MMMM YYYY'));
            $('#selected-time').text(currentDate.format('HH:mm'));


            function updateRdvSlot(event) {
                $('#selected-day').text(moment(event.start).format('dddd'));
                $('#selected-date').text(moment(event.start).format('DD MMMM YYYY'));
                $('#selected-time').text(moment(event.start).format('HH:mm'));
                $('#rdvInput').val(moment(event.start).format('YYYY-MM-DDTHH:mm:ss'));
            }

            $('#calendar').fullCalendar({
                allDaySlot: false,
                events: [{
                    draggable: false,
                    title: 'Non disponible',
                    type: 'unavailable',
                    overlap: false,
                    dow: [1, 2, 3, 4, 5],
                    startEditable: false,
                    start: '08:00:00',
                    end: '19:00:00',
                    color: '#ecd5bb',
                    textColor: '#444',
                    exceptWithin: [
                    {% for slot in slots %}
                        {
                            start: moment('{{ slot.date|date('Y-m-d') }} 00:00','YYYY-MM-DD H:i'),
                            end: moment('{{ slot.date|date('Y-m-d') }} 23:59','YYYY-MM-DD H:i'),
                        },
                    {% endfor %}
                    ]
                },
                {% for slot in unavailable_slots %}
                {
                    start: moment('{{ slot.appointment|date('Y-m-d H:i') }}','YYYY-MM-DD H:i'),
                    end: moment('{{ slot.appointment|date_modify("+1 hour")|date('Y-m-d H:i') }}','YYYY-MM-DD H:i'),
                    color: '#636264',
                    textColor: '#333333',
                    title: 'Créneau indisponible',
                    startEditable: false,
                    draggable: false,
                },
                {% endfor %}
                ],
                eventRender: function(event){
                    var render = true;
                    if (event.type === 'unavailable') {
                        $(event.exceptWithin).each(function(k, v) {
                            if (event.start.isAfter(v.start, 'minute') && event.start.isBefore(v.end, 'minute')) {
                                render = false;
                            }
                        });
                    }
                    return render;

                },
                minTime: '07:00:00',
                maxTime: '21:00:00',
                height: 500,
                disableDragging: true,
                editable: false,
                selectHelper: true,
                selectOverlap: true,
                eventStartEditable: true,
                eventDurationEditable: false,
                selectable: true,
                weekNumbers: true,
                aspectRatio: 0.95,
                slotDuration: '01:00:00',
                eventColor: '#8b786a',
                defaultTimedEventDuration: '01:00:00',
                header: {
                    left: 'today,next',
                    center: 'title',
                    right: '',
                },
                defaultView: 'agendaWeek',
                locale: 'fr',
                eventDrop: updateRdvSlot(event),
                eventDragStop: updateRdvSlot(event),
                unselect: function() {
//                    $('#calendar').fullCalendar('option', 'selectable', false);
                },
                select: function(start) {
                    $('#calendar').fullCalendar('removeEvents', 'rdv');
                    var newEvent = new Object();
                    newEvent.title = 'Votre rendez-vous';
                    newEvent.id = 'rdv';
                    newEvent.start = moment(start).format();
                    newEvent.durationEditable = false;
                    newEvent.end = moment(start).add(1, 'hour').format();
                    newEvent.startEditable = false;
                    newEvent.allDay = false;
                    $('#calendar').fullCalendar('renderEvent', newEvent, true);
                    $('#calendar').fullCalendar('unselect');
                    $('button[type=submit]').prop('disabled', false);
                    updateRdvSlot(newEvent);
                },
                selectAllow: function(selectInfo) {
//                    var duration = moment.duration(selectInfo.end.diff(selectInfo.start));
//                    return duration.asHours() <= 1;
                },
            });

            $('#deleteEvent').on('click', function(e) {
                e.preventDefault();
                $('#calendar').fullCalendar('removeEvents', 'rdv')
                $('button[type=submit]').prop('disabled', true);
                $('#calendar').fullCalendar('option', 'selectable', true);
                e.stopImmediatePropagation();
                return false;
            });

        });
    </script>
{% endblock %}