{% extends '::base.html.twig' %}

{% set remote_rdv = cart.service.remoteMode == true and cart.remote == true %}

{% block cart %}
    {{ render(controller('AppBundle:RendezVous:cart')) }}
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/custom_css.css') }}">
    <link rel="stylesheet" href="{{ asset('css/components/bs-switches.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ asset('css/components/radio-checkbox.css') }}" type="text/css" />
    <style>
        .payment-disabled .fbox-icon > i,
        .payment-disabled h3,
        .payment-disabled p.notopmargin > span {
            color: #c5c5c5 !important;
        }

        .payment-disabled div.center-block {
            display: none;
        }

        .col_one_third {
            padding: 5px;
            border-radius: 5px;
        }

        button[disabled], button[disabled]:hover { background-color: #c5c5c5; cursor: not-allowed }
    </style>
{% endblock %}

{% block title %}Prendre un rendez-vous (3/4){% endblock %}

{% block page_title %}
    {% include 'index/page_title.html.twig' with {
    page_title: 'Prendre un rendez-vous',
    page_subtitle: 'Bien. Passons au mode de règlement.',
    steps: [{
    name: 'Prendre un rendez-vous'
    }, {
    name: 'Choisissez un moyen de paiement'
    }]
    } %}
{% endblock %}

{% block content %}
    <div class="container clearfix">
        {% include 'rendez-vous/etapes.inc.html.twig' with {step: 3} %}
        <form class="cart nobottommargin clearfix center-block" method="post" action="{{ path('rendez_vous_confirmation') }}">
            <div class="section nobottommargin">
                <div class="container clearfix">

                    <div class="col_one_third nobottommargin {% if remote_rdv == true %}payment-disabled{% endif %}">
                        <div class="feature-box fbox-plain fbox-dark fbox-small" >

                            <div class="fbox-icon">
                                <i class="icon-money"></i>
                            </div>
                            <h3>Chèque ou espèces</h3>
                            <p class="notopmargin" >
                                <span>Je paye par chèque ou en espèces à la fin du rendez-vous en face à face.</span>
                            </p>
                            <div class="center-block" style="width: 50px; zoom: 1.5">
                                <input id="liquide"  class="radio-style" name="choix_paiement" type="radio" value="{{ constant('AppBundle\\Entity\\Cart::MODE_CASH') }}">
                                <label for="liquide" class="radio-style-2-label"></label>
                            </div>
                        </div>
                    </div>

                    <div class="col_one_third nobottommargin payment-disabled">
                        <div class="feature-box fbox-plain fbox-dark fbox-small">
                            <div class="fbox-icon">
                                <i class="icon-credit-cards"></i>
                            </div>
                            <h3>Carte de crédit</h3>
                            <p class="nobottommargin">Je règle le montant en ligne par carte avant le rendez-vous.</p>
                        </div>

                        <div class="center-block" style="width: 50px; zoom: 1.5">
                            <input id="carte" class="radio-style" name="choix_paiement" type="radio" value="{{ constant('AppBundle\\Entity\\Cart::MODE_BANK_CARD') }}">
                            <label for="carte" class="radio-style-2-label"></label>
                        </div>
                    </div>

                    <div class="col_one_third nobottommargin col_last payment-disabled">
                        <div class="feature-box fbox-plain fbox-dark fbox-small">
                            <div class="fbox-icon">
                                <i class="icon-paypal"></i>
                            </div>
                            <h3>Paypal</h3>
                            <p class="nobottommargin">Je règle le montant en ligne par Paypal avant le rendez-vous.</p>
                        </div>

                        <div class="center-block" style="width: 50px; zoom: 1.5">
                            <input id="paypal" class="radio-style" name="choix_paiement" type="radio" value="{{ constant('AppBundle\\Entity\\Cart::MODE_PAYPAL') }}">
                            <label for="paypal" class="radio-style-2-label"></label>
                        </div>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col-sx-12 section nobottommargin notopmargin notoppadding nobottompadding">
                    <div class="text-center col-md-12">
                        <button type="submit" class="center-block add-to-cart button nomargin" disabled="disabled" id="choose-payment">Choisir</button>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="modal1 mfp-hide" id="choixPayment">
        <div class="block divcenter" style="background-color: #FFF; max-width: 500px;">
            <div class="center row" style="padding: 50px;">
                <h3>Vous souhaitez commander une séance par Skype ?</h3>
                <div class="col-md-6 text-center">
                    <img src="{{ asset('images/skype-icon-black.png') }}" style="width: 78px;"/>

                </div>
                <div class="col-md-6 text-center">
                    <p>Aucun système de paiement en ligne n'est actuellement disponible sur ce site</p>
                    <p>Contactez-moi au plus vite au <strong>0781-350-383</strong> ou sur <a href="{{ path('contact') }}">ce formulaire de contact</a> afin que nous mettions en place le rendez-vous.</p>
                </div>
                <div class="col-md-12 text-center topmargin">
                    <button  class="center-block add-to-cart button" id="contactMe">Me contacter</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script>
        jQuery(function($) {

            $('#contactMe').on('click', function() {
                window.location.href = '{{ path('contact') }}';
            });

            $('.col_one_third:not(.payment-disabled)').css('cursor', 'pointer').on('click', function() {
                $(this).find('input').prop('checked', true);
            }).hover(function() {
                $(this).css('backgroundColor', '#eaeaea');
            }, function() {
                $(this).css('backgroundColor', '#F9F9F9');

            });

            $('[rel=tooltip]').tooltip();

            $('input[type=radio]').on('click', function() {
                 $('#choose-payment').prop('disabled', false);
            });

            if ($('.payment-disabled').length == 3) {
                window.setTimeout(function() {

                    $.magnificPopup.open({
                        items: { src: '#choixPayment' },
                        type: 'inline',
                        midClick: true,
                        closeOnBgClick: true,
                        mainClass: 'mfp-no-margins mfp-fade',
                        closeBtnInside: false,
                        fixedContentPos: false,
                        removalDelay: 500,

                    });

                }, 2000);
            }


        });
    </script>
{% endblock %}