{% extends '::base.html.twig' %}

{% block title %}{{ category.name }}{% endblock %}

{% block page_title %}
    {% include 'index/page_title.html.twig' with {
    page_title: category.name,
    page_subtitle: category.subtitle,
    steps: [{
        name: 'Services'
    }]
    } %}
{% endblock %}

{% block page_menu %}
    <div id="page-menu">

        <div id="page-menu-wrap">

            <div class="container clearfix">

                <div class="menu-title">Services <span>associés</span></div>

                <nav>
                    <ul>
                        {% for service in category.services %}
                            <li><a href="{{ path('service_index', {slugCategory: category.slug, slugService: service.slug}) }}"><div>{{ service.name }}</div></a></li>
                        {% endfor %}
                    </ul>
                </nav>

                <div id="page-submenu-trigger"><i class="icon-reorder"></i></div>

            </div>

        </div>

    </div><!-- #page-menu end -->
{% endblock %}

{% block content %}
<div class="container clearfix">

    <div class="single-post nobottommargin">

        <!-- Single Post
        ============================================= -->
        <div class="entry clearfix">

            <!-- Entry Image
            ============================================= -->
            <div class="entry-image bottommargin">
                <a href="#"><img style="width: 50%; margin: auto;" src="{{ asset('images/categories/' ~ category.imageFilename) }}" alt="{{ category.name }}"></a>
            </div><!-- .entry-image end -->

            <!-- Entry Content
            ============================================= -->
            <div class="entry-content notopmargin">

                <p>{{ category.description }}</p>
            </div>
        </div>
    </div>

</div>

<div class="container clearfix">
    <div class="col_full nobottommargin">

        <h4>Les services associés</h4>

        <div id="oc-product" class="owl-carousel product-carousel carousel-widget" data-margin="30" data-pagi="false" data-autoplay="5000" data-items-xxs="1" data-items-sm="2" data-items-lg="3">

            {% for service in category.services %}
                <div class="oc-item">
                    <div class="product iproduct clearfix">
                        <div class="nobottommargin">
                            <div class="feature-box media-box">
                                <a href="{{ path('service_index', {slugCategory: service.category.slug, slugService: service.slug}) }}">
                                    <div class="fbox-media">
                                        <img src="{{ asset('images/services/' ~ service.image) }}" alt="Why choose Us?">
                                        <div class="overlay"><div class="overlay-wrap"><i class="icon-zoom-in2"></i></div></div>
                                    </div>
                                </a>
                            </div>
                            <div class="product-desc center">
                                <div class="product-title"><h3><a href="{{ path('service_index', {slugCategory: service.category.slug, slugService: service.slug}) }}">{{ service.name }}</a></h3></div>
                                <div class="product-price"><small style="font-weight: 0;">{{ service.shortDescription|striptags|slice(0, 100) ~ '...' }}</small></div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}