{% extends '::base.html.twig' %}

{% block title %}{{ service.name }}{% endblock %}

{% block meta %}
    <meta property="og:title" content="{{ service.name }} / Steve DAVID - thérapeute holistique">
    <meta property="og:image" content="{{ asset('images/services/' ~ service.image) }}">
    <meta property="og:description" content="{{ service.shortDescription|split('\n')[0]|striptags  }}">
    <meta property="og:type" content="article">
    <meta property="article:author" content="https://www.facebook.com/steve.david.therapeute">
{% endblock %}

{% block stylesheets %}
    <style>

        .sidebar .widget_links a {
            padding: 0;
            background: none;
        }
    </style>
{% endblock %}

{% block page_title %}
    {% include 'index/page_title.html.twig' with {
    page_title: service.name,
            page_subtitle: service.subtitle,
            steps: [{
                url: null,
        name: 'Services'
    }, {
        url: path('service_category', {slug: service.category.slug}),
        name: service.category.name
    }]
    } %}
{% endblock %}


{% block content %}
    <div class="container clearfix">

        <div class="postcontent nobottommargin clearfix">

            <div class="single-product">

                <div class="product">

                    <div class="col_half">

                        <!-- Product Single - Gallery
                        ============================================= -->
                        <div class="product-image">
                            <div class="fslider" data-pagi="false" data-arrows="false" data-thumbs="true">
                                <div class="flexslider">
                                    <div class="slider-wrap" data-lightbox="gallery">
                                        <div class="slide" data-thumb="{{ asset('images/services/' ~ service.image) }}">
                                            <a href="{{ asset('images/services/' ~ service.image) }}" title="{{ service.name }} ({{ service.category.name }})" data-lightbox="gallery-item">
                                                <img src="{{ asset('images/services/' ~ service.image) }}" alt="{{ service.name }} ({{ service.category.name }})">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!-- Product Single - Gallery End -->

                    </div>

                    <div class="col_half col_last product-desc">

                        <!-- Product Single - Price
                        ============================================= -->
                        <div class="product-price"><ins>{{ service.price }}&euro;</ins> / heure</div><!-- Product Single - Price End -->

                        <div class="clear"></div>
                        <div class="line"></div>

                        <!-- Product Single - Quantity & Cart Button
                        ============================================= -->
                        <form style="margin-bottom: 10px;" id="prendreRdv" class="cart clearfix nobottommargin" method="get" enctype='multipart/form-data' action="{{ path('rendez_vous_calendrier') }}">
                            <input type="hidden" name="idService" value="{{ service.id }}"/>
                            <button type="submit" {% if service.active == false %}disabled="disabled" style="background-color: #555555; color: #808080" rel="tooltip" title="Actuellement indisponible"{% endif %}class="add-to-cart button nomargin">Prendre rendez-vous</button>
                            {#<a href="https://5euros.com/service/21658/vous-faire-aller-mieux" class="button button-border button-brown button-xlarge">Prendre rendez-vous</a>#}
                        </form><!-- Product Single - Quantity & Cart Button End -->

                        <div class="clear"></div>

                        {% if service.active == false %}
                            <div class="line"></div>
                            <span class="label label-default label-lg" style="margin-top: 15px; font-size: 1em; background-color: #e2e0e2; color: #444;">Service non disponible actuellement</span>
                        {% endif %}
                        <div class="line"></div>

                        <!-- Product Single - Short Description
                        ============================================= -->
                        {{ service.shortDescription|raw }}

                        <!-- Product Single - Meta
                        ============================================= -->
                        <div class="panel panel-default product-meta">
                            <div class="panel-body">
                                <span class="posted_in">Catégorie : <a href="#" rel="tag">{{ service.category.name }}</a></span>
                            </div>
                        </div><!-- Product Single - Meta End -->

                        <!-- Product Single - Share
                        ============================================= -->
                        <div class="si-share noborder clearfix">
                            <span>Partagez ce service :</span>
                            <div>
                                <a href="javascript:window.open('https://www.facebook.com/sharer/sharer.php?u={{ url('service_index', {slugCategory: service.category.slug, slugService: service.slug}) }}', 'Partagez sur Facebook', 'menubar=no, status=no, scrollbars=no, menubar=no, width=750, height=400');" class="social-icon si-borderless si-facebook">
                                    <i class="icon-facebook"></i>
                                    <i class="icon-facebook"></i>
                                </a>
                                <a href="javascript:window.open('https://twitter.com/intent/tweet/?url={{ url('service_index', {slugCategory: service.category.slug, slugService: service.slug}) }}', 'Partagez sur Twitter', 'menubar=no, status=no, scrollbars=no, menubar=no, width=750, height=400');" class="social-icon si-borderless si-twitter">
                                    <i class="icon-twitter"></i>
                                    <i class="icon-twitter"></i>
                                </a>
                                <a href="javascript:window.open('https://pinterest.com/pin/create/button/?url={{ url('service_index', {slugCategory: service.category.slug, slugService: service.slug}) }}', 'Partagez sur Twitter', 'menubar=no, status=no, scrollbars=no, menubar=no, width=750, height=400');" class="social-icon si-borderless si-pinterest">
                                    <i class="icon-pinterest"></i>
                                    <i class="icon-pinterest"></i>
                                </a>
                                <a href="#" class="social-icon si-borderless si-linkedin">
                                    <i class="icon-linkedin"></i>
                                    <i class="icon-linkedin"></i>
                                </a>
                                <a href="mailto:destinataire@email.com&subject=J'ai trouvé un service qui peut t'intéresser&body=Inscrivez votre message ici" class="social-icon si-borderless si-email3">
                                    <i class="icon-email3"></i>
                                    <i class="icon-email3"></i>
                                </a>
                            </div>
                            <div class="fb-like"
                                 data-href="{{ url('service_index', {slugCategory: service.category.slug, slugService: service.slug}) }}"
                                 data-layout="button_count"
                                 data-action="like"
                                 data-show-faces="false">
                            </div>
                        </div><!-- Product Single - Share End -->

                    </div>

                    <div class="col_full nobottommargin">

                        <div class="tabs clearfix nobottommargin" id="tab-1">

                            <ul class="tab-nav clearfix">
                                <li><a href="#tabs-1"><i class="icon-align-justify2"></i><span class="hidden-xs"> Description détaillée</span></a></li>
                                <li><a href="#tabs-2"><i class="icon-info-sign"></i><span class="hidden-xs"> Informations techniques</span></a></li>
                            </ul>

                            <div class="tab-container">

                                <div class="tab-content clearfix" id="tabs-1">
                                    {{ service.longDescription|raw }}
                                </div>
                                <div class="tab-content clearfix" id="tabs-2">

                                    <table class="table table-striped table-bordered">
                                        <tbody>
                                        <tr>
                                            <td>Prix</td>
                                            <td>{{ service.price }} euros de l'heure</td>
                                        </tr>
                                        <tr>
                                            <td>Consultation en face à face</td>
                                            <td>Oui</td>
                                        </tr>
                                        <tr>
                                            <td>Consultation à distance</td>
                                            <td>
                                            {% if service.remoteMode == true %}
                                                Oui
                                            {% else %}
                                                Non
                                            {% endif %}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Durée de la séance</td>
                                            <td>1 heure</td>
                                        </tr>
                                        {% if service.category.slug == 'magnetisme' %}
                                            <tr>
                                                <td>Temps nécessaire avant effet</td>
                                                <td>Jusqu'à 24 heures</td>
                                            </tr>
                                        {% elseif service.category.slug == 'divination' %}
                                            <tr>
                                                <td>Boisson offerte</td>
                                                <td>Oui</td>
                                            </tr>
                                        {% elseif service.category.slug == 'mediumnite' %}
                                            <tr>
                                                <td>Compte-rendu en MP3</td>
                                                <td>A demander</td>
                                            </tr>
                                            <tr>
                                                <td>Compte-rendu écrit</td>
                                                <td>Oui</td>
                                            </tr>
                                        {% endif %}
                                        </tbody>
                                    </table>

                                    <div class="col-md-4">
                                        <div class="col-md-6">
                                            <img src="{{ asset('images/interview-icon-black.png') }}" width="48" rel="tooltip" title="En face à face{% if service.remoteMode == false %} uniquement{% endif %}"/>
                                        </div>
                                        {% if service.remoteMode == true %}

                                            <div class="col-md-6">
                                                <img src="{{ asset('images/skype-icon-black.png') }}" width="48" rel="tooltip" title="Consultation à distance possible"/>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="clear"></div><div class="line"></div>

            <div class="col_full nobottommargin">

                <h4>Cela peut aussi vous intéresser</h4>

                <div id="oc-product" class="owl-carousel product-carousel carousel-widget" data-margin="30" data-pagi="false" data-autoplay="5000" data-items-xxs="1" data-items-sm="2" data-items-lg="3">

                    {% for random_service in random_services %}
                        {% if service.name != random_service.name %}
                            <div class="oc-item">
                                <div class="product iproduct clearfix">
                                    <div class="nobottommargin">
                                        <div class="feature-box media-box">
                                            <a href="{{ path('service_index', {slugCategory: random_service.category.slug, slugService: random_service.slug}) }}">
                                                <h5 class="center">{{ random_service.category.name }}</h5>
                                                <div class="fbox-media">
                                                    <img src="{{ asset('images/services/' ~ random_service.image) }}" alt="Why choose Us?">
                                                    <div class="overlay"><div class="overlay-wrap"><i class="icon-zoom-in2"></i></div></div>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="product-desc center">
                                            <div class="product-title"><h3><a href="{{ path('service_index', {slugCategory: random_service.category.slug, slugService: random_service.slug}) }}">{{ random_service.name }}</a></h3></div>
                                            <div class="product-price"><ins>{{ random_service.price }}€</ins> / heure</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>

            </div>

        </div>

        <div class="sidebar nobottommargin col_last clearfix">
            <div class="sidebar-widgets-wrap">
                {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                <div class="widget subscribe-widget clearfix">
                    <div class="dark" style="padding: 25px; background-color: #383838; border-radius: 2px;">
                        <div class="fancy-title title-border">
                            <h4>Votre suivi</h4>
                        </div>
                        <p style="font-size: 15px; line-height: 1.5; color: #999;">Subscribe to Our Newsletter to get Important News, Amazing Offers &amp; Inside Scoops:</p>
                        <div class="widget-subscribe-form-result"></div>
                        <a href="#" class="button button-3d btn-block button-small nomargin text-center" style="margin-top: 15px !important;" type="submit">Mes rendez-vous</a>
                    </div>
                </div>
                {% endif %}

                <div class="widget widget_links clearfix">

                    <h4>Catégories de services</h4>
                    <ul>
                        {% for category in categories %}
                            {% if service.category.name != category.name %}
                                <li><a href="{{ path('service_category', {slug: category.slug}) }}">{{ category.name }}</a></li>
                            {% else %}
                                <li><span class="arrow">{{ category.name }}</span></li>
                            {% endif %}
                        {% endfor %}
                    </ul>

                </div>

                <div class="widget clearfix">
                    <h4>Dans la même catégorie</h4>
                    <div id="post-list-footer">

                        {% for additionnal_service in service.category.services %}
                            {% if service.name != additionnal_service.name %}
                                <div class="spost clearfix">
                                    <div class="entry-image">
                                        <a href="{{ path('service_index', {slugCategory: additionnal_service.category.slug, slugService: additionnal_service.slug}) }}"><img src="{{ asset('images/services/' ~ additionnal_service.image) }}" alt="Image"></a>
                                    </div>
                                    <div class="entry-c">
                                        <div class="entry-title">
                                            <h4><a href="{{ path('service_index', {slugCategory: additionnal_service.category.slug, slugService: additionnal_service.slug}) }}">{{ additionnal_service.name }}</a></h4>
                                        </div>
                                        <ul class="entry-meta">
                                            <li class="color">{{ additionnal_service.price }}&euro;</li>
                                            <li>heure</li>
                                        </ul>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}

                    </div>

                </div>

                <div class="widget clearfix">
                    <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fsteve.david.therapeute&tabs=timeline%2C%20message&width=240&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=624472404312502" width="240" height="500" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
                </div>


            </div>
        </div>

    </div>

    <div class="modal1 mfp-hide" id="modeRdv">
        <div class="block divcenter" style="background-color: #FFF; max-width: 500px;">
            <div class="center row" style="padding: 50px;">
                <h3>Comment se passera le rendez-vous ?</h3>
                <div class="{% if service.remoteMode == true %}col-md-6{% else %}col-md-12{% endif %} text-center">
                    <img src="{{ asset('images/interview-icon-black.png') }}" style="width: 78px;"/>
                    <form method="post" enctype='multipart/form-data' action="{{ path('rendez_vous_calendrier') }}">
                        <input type="hidden" name="idService" value="{{ service.id }}"/>
                        <input type="hidden" name="remoteMode" value="0"/>
                        <button type="submit" class="add-to-cart button topmargin">En face à face{% if service.remoteMode == false %} uniquement{% endif %}</button>
                    </form><!-- Product Single - Quantity & Cart Button End -->
                </div>
                {% if service.remoteMode == true %}
                <div class="col-md-6 text-center">
                    <img src="{{ asset('images/skype-icon-black.png') }}" style="width: 78px;"/>
                    <form method="post" enctype='multipart/form-data' action="{{ path('rendez_vous_calendrier') }}">
                        <input type="hidden" name="idService" value="{{ service.id }}"/>
                        <input type="hidden" name="mode" value="a-distance"/>
                        <button type="submit" class="add-to-cart button topmargin">A distance</button>
                    </form><!-- Product Single - Quantity & Cart Button End -->
                </div>
                {% else %}
                    La consultation à distance n'est pas possible pour ce service.
                {% endif %}
                <div class="col-md-12 text-center topmargin">
                    <a href="#" onClick="$.magnificPopup.close();return false;"><small>Annuler</small></a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = 'https://connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v2.11&appId=169522666463582';
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>

    <script>
        jQuery(function($) {

            $('#prendreRdv').on('submit', function(e) {
                e.preventDefault();

                $.magnificPopup.open({
                    items: { src: '#modeRdv' },
                    type: 'inline',
                    midClick: true,
                    closeOnBgClick: true,
                    mainClass: 'mfp-no-margins mfp-fade',
                    closeBtnInside: false,
                    fixedContentPos: false,
                    removalDelay: 500,

                });

            });

            $('[rel=tooltip]').tooltip({
                placement: 'bottom'
            });
        });
    </script>
{% endblock %}