<ul class="mega-menu-column col-5">
    <li>
        <div class="widget clearfix">
            <h4>En ce moment</h4>
            <div class="ipost clearfix">
                <div class="entry-image">
                    <a href="{{ path('service_index', {slugCategory: featured_service.category.slug, slugService: featured_service.slug}) }}"><img class="image_fade" src="{{ asset('images/services/' ~ featured_service.image) }}" alt="Image"></a>
                </div>
                <div class="entry-title">
                    <h3><a href="{{ path('service_index', {slugCategory: featured_service.category.slug, slugService: featured_service.slug}) }}">{{ featured_service.name }}</a></h3>
                </div>
                <ul class="entry-meta clearfix">
                    <li><i class="icon-book"></i> {{ featured_service.category.name }}</li>
                    <li><i class="icon-clock"></i> 1h</li>
                </ul>
            </div>
        </div>
    </li>
</ul>
{% for category in categories %}
    <ul class="mega-menu-column col-5">
        <li class="mega-menu-title"><a href="{{ path('service_category', {slug: category.slug}) }}"><div>{{ category.name }}</div></a>
            <ul>
                {% for service in category.services %}
                    <li class=""><a href="{{ path('service_index', {slugCategory: category.slug, slugService: service.slug}) }}"><div>{{ service.name }}</div></a></li>
                {% endfor %}
            </ul>
        </li>
    </ul>
{% endfor %}